In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mercedes-used-car-listing/merc.csv

In [6]:
df=pd.read_csv('/kaggle/input/mercedes-used-car-listing/merc.csv')

In [7]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

In [8]:
df.shape

(13119, 9)

In [9]:
df.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [14]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df['fuelType'].value_counts()

fuelType
Diesel    9187
Petrol    3752
Hybrid     173
Other        7
Name: count, dtype: int64

## OneHotEncoding Using Pandas

In [20]:
pd.get_dummies(df,columns=['fuelType'])

,model,year,price,transmission,mileage,tax,mpg,engineSize,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,SLK,2005,5200,Automatic,63000,325,32.1,1.8,False,False,False,True
1,S Class,2017,34948,Automatic,27000,20,61.4,2.1,False,True,False,False
2,SL CLASS,2016,49948,Automatic,6200,555,28.0,5.5,False,False,False,True
3,G Class,2016,61948,Automatic,16000,325,30.4,4.0,False,False,False,True
4,G Class,2016,73948,Automatic,4000,325,30.1,4.0,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,145,55.4,2.0,True,False,False,False
13115,B Class,2020,24699,Automatic,2500,145,55.4,2.0,True,False,False,False
13116,GLC Class,2019,30999,Automatic,11612,145,41.5,2.1,True,False,False,False
13117,CLS Class,2019,37990,Automatic,2426,145,45.6,2.0,True,False,False,False
13118,S Class,2019,54999,Automatic,2075,145,52.3,2.9,True,False,False,False

## OneHotEncoding using K-1

In [21]:
pd.get_dummies(df,columns=['fuelType'],drop_first=True)

,model,year,price,transmission,mileage,tax,mpg,engineSize,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,SLK,2005,5200,Automatic,63000,325,32.1,1.8,False,False,True
1,S Class,2017,34948,Automatic,27000,20,61.4,2.1,True,False,False
2,SL CLASS,2016,49948,Automatic,6200,555,28.0,5.5,False,False,True
3,G Class,2016,61948,Automatic,16000,325,30.4,4.0,False,False,True
4,G Class,2016,73948,Automatic,4000,325,30.1,4.0,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,145,55.4,2.0,False,False,False
13115,B Class,2020,24699,Automatic,2500,145,55.4,2.0,False,False,False
13116,GLC Class,2019,30999,Automatic,11612,145,41.5,2.1,False,False,False
13117,CLS Class,2019,37990,Automatic,2426,145,45.6,2.0,False,False,False
13118,S Class,2019,54999,Automatic,2075,145,52.3,2.9,False,False,False